.feauters-block
    margin: 40px 40px
    .feauter-item
        margin: 15px 0
        svg
            padding: 0
            width: 72px
            margin-right: 10px
            path
                fill: #F9C300
        p
            margin-bottom: 0rem
            font-size: 18px
            color: #282828