
//Table of contents

//- 1. Common Styles & Initials
//- 2. General
//- 3. Loader
//- 4. Countdown
//- 5. Services
//- 6. Works
//- 7. Contact
//- 8. Team
//- 9. Subscribe
//- 10. Responsive


$white: #fff;
$black: #435065;
$blue: #0061FF;
$blue2: #4952e2;
$grey: #1d3650;
$grey3: #89949e;
$grey2: #a5b5c1;
$light_grey: #F0F2F7;
$light_grey2: #eaf1f7;
$pink: #FF0058;
$red: #E52C4B;
$red2: #D02744;
$purple: #4d2aaa;
$purple2: #3f228a;
$orange: #EA7148;
$orange: #f5ad0c;
$orange: #3cc9ea;
$orange: #00bcd4;
$orange2: #1999b7;
$green: #1ecc8b;
$greenLight: #21ffd6;


$ease-cb: cubic-bezier(.19,1,.22,1);

//--------------------------
//  nth-trans-delay()
//  @description: Transition Delay on nth-childs
//  @param: $delay_items: [7]    - number of nth-of-type items to create
//  @param: $delay_time:[1.5s]   - transition-dealy value
//--------------------------
@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      transition-delay: $delay_time * $i;
    }
  }
}

//--------------------------
//  nth-ani-delay()
//  @description: Animation Delay on nth-childs
//  @param: $delay_items: [7] - number of nth-of-type items to create
//  @param: $delay_time:[1.5s] - transition-dealy value
//--------------------------
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      animation-delay: $delay_time * $i;
    }
  }
}
//--------------------------
//  bg-overlay()
//  @description:pseduo overlay element
//  @param: $bg_hex: [$color-dark] - hex value for rgba conversion
//  @param: $bg_opacity:[0.6] - alpha transparency level
//  @param: $top_layer: element or class name for higher z-index layer
//--------------------------
@mixin bg-overlay($bg_hex: #111, $bg_opacity: 0.6, $top_layer: 'header') {
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($bg_hex, $bg_opacity);
  }

  // Layer atop overlay
  & > #{$top_layer}{
    z-index: 2;
    position: relative;
  }
}

.mast{
  position: relative;
  display:flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111;
  @include bg-overlay(#111, 0.9);

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50%;
  }

  &__header{
    padding: 5%;
  }
  // Letter animation
  &__title span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(25, 0.05s);
  }
  //Letter animation
  &__text{
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
  }

  &__text span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(180, 0.05s);
  }

  &__text.sa span {
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(180, 0.05s);
  }
}

// Letter Glow
@keyframes letter-glow{
  0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
  66%  { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.9) }
  77%   { opacity: 1;  }
  100% { opacity:1; text-shadow: 0px 0px 20px rgba(255,255,255,0.0)}
}


//
//1. Common Styles & Initials


html, body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  //font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $grey2;
  font-weight: 300;
  letter-spacing: .5px;
  background: rgba(5, 8, 101, 1);
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-group-item {
  padding: 10px 15px 10px 0;
  background: none;
  border: none;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.color_white {
  color: #fff;
}

.color_black {
  color: $black;
}

.color_blue {
  color: $blue;
}

.color_red {
  color: $red;
}

.color_pink {
  color: $pink;
}

.color_green {
  color: $green;
}
.color_green2 {
  color: $greenLight;
}

.color_grey {
  color: $grey;
}

.color_grey2 {
  color: $grey2;
}

.color_blue2 {
  background-image: linear-gradient(to right top, $blue2 40%, $blue) !important;
  color: transparent !important;
  -webkit-background-clip: text;
}

.background_white {
  background: #fff;
}

.background_black {
  background: $black !important;
}

.background_dark {
  background: $black !important;
}

.background_blue {
  background: $blue !important;
}

.background_grey {
  background: $grey;
}

.background_pink {
  background: $pink !important;
}

.background_green {
  background: $green !important;
}

.background_green2 {
  //background: linear-gradient(to top right, #21ebff, $greenLight) !important;
  background: linear-gradient(to top right, #2bebff, #00ff72) !important;
}

.background_black2 {
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.75), transparent) !important;
}

.background_blue2 {
  background: linear-gradient(to top right, $blue2, $blue) !important;
}

.background_red2 {
  background: linear-gradient(to right, $red, $red2) !important;
}

.background_purple {
  background: linear-gradient(to right, $purple, $purple2) !important;
}

.bg_no {
  background: none !important;
}

.bg_img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  transition: .3s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.bg_video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  video {
    min-width: 100vw;
    min-height: 100vh;
  }
}

.background_dots {
  background: url(../img/pattern-white.svg) repeat;
  height: 100%;
  opacity: .2;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.background_youtube {
  z-index: -11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

#particles, #particles-js {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas {
  position: fixed;
  top:0;
  left: 0;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

body .vegas-container {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh !important;
}

.opacity_25 {
  opacity: 0.25;
}

.opacity_5 {
  opacity: 0.5;
}

.opacity_75 {
  opacity: 0.75;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
}

h1, .h1 {
  font-size: 48px;
}

.letter-spacing_2 {
  letter-spacing: 2px;
}

.letter-spacing_1 {
  letter-spacing: 1px;
}

.letter-spacing_05 {
  letter-spacing: 0.5px;
}

.relative {
  position: relative;
}

.text_shadow {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5)
}

.overlay_black_25 {
  z-index: 0;
  background: $grey;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_black_5 {
  z-index: 0;
  background: $grey;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_black_7 {
  z-index: 0;
  background: $grey;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_black_75 {
  z-index: 0;
  background: $grey;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_gradient {
  z-index: 0;
  background: linear-gradient(to right, rgba(5, 8, 101, 0.8), rgba(0, 24, 49, 0));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.space_5 {
  height: 5vh;
  width: 100%;
  display: table;
}

.space_10 {
  height: 10vh;
  width: 100%;
  display: table;
}

.space_15 {
  height: 15vh;
  width: 100%;
  display: table;
}

.space_20 {
  height: 20vh;
  width: 100%;
  display: table;
}

.space_30 {
  height: 30vh;
  width: 100%;
  display: table;
}

.font_bold {
  font-weight: 700;
}
.font_serif {
  font-family: 'Libre Baskerville', serif;
}
.text_bordered {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 13px;
    left: 0;
    width: 100%;
    height: 12px;
    background: linear-gradient(to top right, #2bebff, #00ff72);
    box-shadow: 0 5px 20px -4px #999;
  }
}

.no_padding {
  padding: 0;
}

.btn {
  background: $white;
  border: none;
  border-radius: 50px;
  line-height: 54px;
  height: 54px;
  padding: 0 35px;
  color: $grey;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 25px 0 0;
  box-shadow: 0 5px 95px -10px #000000;
  transition: 0.3s background, 0.3s box-shadow;
  &.shw {
    box-shadow: 0 5px 95px -10px #ffffff;
  }
  &:hover, &:focus {
    color: #fff;
    box-shadow: 0 5px 75px -10px $black;
  }
  i {
    margin-right: 5px;
    margin-left: 0;
  }
  &.bordered {
    color: $white;
    background: none;
    border: 2px solid $white;
  }
}

.d_table {
  display: table;
  width: 100%;
  height: 100vh;
}

.d_table_v {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.d_table_b {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 100px 0 35px;
}

.img_shadow {
  box-shadow: 0 25px 70px 0 rgba(0,0,0,0.25);
}

.img-rounded {
  border-radius: 10px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.big-title {
  font-size: 70px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 10px;
  color: $white;
  opacity: .5;
}

//-----------------------------------------------------------------------------------------------------
// Loader
//-----------------------------------------------------------------------------------------------------


.loader_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(5, 8, 101, 0.8), rgba(0, 24, 49, 0.5));
  z-index: 999999;
}

.loader {
  display: inline-block;
  width: 3em;
  height: 3em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}

.loader {
  position: absolute;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $blue;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 50%;
    box-shadow: -1.5em 0 0 $blue;
    animation: loader 1s linear infinite;
  }
  &:after {
    top: 50%;
    bottom: 0;
    animation-delay: .25s;
  }
}

@keyframes loader {
  0%,
  100% {
    box-shadow: -1.5em 0 0 transparent;
    background-color: $blue;
  }
  50% {
    box-shadow: -1.5em 0 0 $blue;
    background-color: transparent;
  }
}

.oop { opacity: 0; transition: .3s ease }

.brand {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 150px;
}

.left {
  height: 100vh;
  position: fixed;
  width: 60vw;
  display: table;
  padding: 5vh 5vw;
  z-index: 1;
  left: 0;
  top: 0;
  transition: left .5s ease, opacity .5s ease;
  &.hidee {
    left: -15vw;
    opacity: .1;
  }
  &.hideee {
    left: -15vw;
    opacity: 0;
  }
  .content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    h2 {
      font-size: 70px;
    }
    p {
      opacity: .7;
    }
    .btn.background_green2 {
      color: #000;
    }
  }
}

.right {
  background: $white;
  height: 100vh;
  width: 60vw;
  position: fixed;
  top:0;
  right: -65vw;
  z-index: 9;
  transition: right .5s ease;
  overflow-y: scroll;
  &.active {
    right: 0;
  }
  .title {
    font-size: 48px;
    display: inline-block;
    line-height: 1.5;
    color: $grey;
  }
}

#about {
  padding: 5% 10%;
}


// ----------------------------------------------------------------------------------------------------------------
// Countdown
// ----------------------------------------------------------------------------------------------------------------

.countdown {
  li {
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    margin-right: 25px;
    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
}


// ----------------------------------------------------------------------------------------------------------------
// Services
// ----------------------------------------------------------------------------------------------------------------

.services {
  .service {
    position: relative;
    overflow: hidden;
    &:nth-child(1) {
      border-right: 1px solid $light_grey2;
      padding-right: 5%;
    }
    &:nth-child(2) {
      padding-left: 5%;
    }
    h4 {
      margin-bottom: 15px;
      color: $grey;
    }
    p {
      color: $grey3;
      font-weight: lighter;
      letter-spacing: 0.5px;
      transition: .2s ease;
    }
    .icon {
      border-radius: 50px;
      height: 80px;
      padding: 0;
      width: 80px;
      background: #fff;
      transition: .3s ease;
      transition-delay: .3s;
      margin-left: -10px;
      img {
        height: 60px;
        width: 60px;
        display: table;
        margin: 0 auto;
      }
    }
  }
}


// ----------------------------------------------------------------------------------------------------------------
// Works
// ----------------------------------------------------------------------------------------------------------------

#works {
  .item {
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
    &:hover {
    }
    a:hover {
      cursor: url("../img/drag_b.png"),url("../img/drag_b.png"),auto !important;
    }
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
    .info {
      display: none;
      position: absolute;
      z-index: 2;
      width: 100%;
      padding: 3% 5%;
      bottom: 0;
      left: 0;
      color: $white;
      h4 {
        text-transform: uppercase;
        margin: 10px 0 0;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.41);
      }
    }
  }

  /*Zoom Out*/
  .zoomOut img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .zoomOut:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



// ----------------------------------------------------------------------------------------------------------------
// Contact
// ----------------------------------------------------------------------------------------------------------------


#contact {
  padding: 5% 0;
}
.contact {
  position: relative;
  padding: 0 10%;
  .contact_info {
    & > div {
      display: inline-block;
      margin-right: 15%;
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  .item {
    width: 33%;
    float: left;
    text-align: center;
    padding: 15px 0;
    img {
      margin: 0 auto 15px;
    }
  }
  #contact-form {
    text-align: left;
    .form-group {
      .form-control {
        line-height: 54px;
        height: 54px;
        width: 100%;
        background: $white;
        background: $light_grey;
        display: block;
        margin: 2px 0 0;
        padding: 0 25px;
        border-radius: 30px;
        transition: .3s ease;
        border: 1px solid $light_grey;
        color: $grey;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: .5px;
        box-shadow: none;
        &:hover, &:focus {
          background: $white;
          border: 1px solid $greenLight;
          box-shadow: 0 5px 50px -15px #999;
        }
      }
      textarea {
        min-height: 150px !important;
        resize: none;
      }
    }
  }
  .btn-send {
    background: none;
    border: none;
    color: $grey;
    padding: 0;
  }
  .btn {
    box-shadow: 0 6px 45px -10px #cacaca;
    &:hover {
      color: $grey;
      background: linear-gradient(to top right, #2bebff, #00ff72) !important;
      box-shadow: 0 10px 45px -10px #a0a0a0;
    }
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $grey2;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $grey2;
    opacity: 1;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $grey2;
    opacity: 1;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $grey2;
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Team
// ----------------------------------------------------------------------------------------------------------------

#team {
  margin: 10vh auto;
  padding: 0 10%;
  display: inline-block;
  width: 100%;
  .item {
    text-align: center;
    width: 23%;
    margin: 1%;
    float: left;
    color: $grey;
    &:hover {
      img {
        border-radius: 150px 0;
      }
    }
    p {
      margin: 0;
    }
    img {
      margin: 0 auto;
      height: 200px;
      object-fit: cover;
      object-position: center;
      transition: .3s ease;
      box-shadow: 0 15px 40px -15px #949494;
      border-radius: 25px;
    }
    .social-k {
      margin-top: 15px;
      .list-inline {
        margin-left: 0;
      }
      li {
        &:nth-child(1) {
          color: #3a68d9;
        }
        &:nth-child(2) {
          color: #3ed8f9;
        }
        &:nth-child(3) {
          color: #49b0d9;
        }
        &:nth-child(4) {
          color: #ff43a0;
        }
      }
    }
    span {
      color: $grey2;
      font-size: 14px;
    }
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Subscribe
// ----------------------------------------------------------------------------------------------------------------


.subscribe_section {
  height: 100vh;
  width: 40vw;
  position: fixed;
  top: 0;
  right: -40vw;
  z-index: 9;
  padding: 5vh 5vw;
  color: $white;
  overflow: hidden;
  transition: right .5s ease;
  &.active {
    right: 0;
  }
  .subscribe {
    label {
      margin-bottom: 15px;
      font-size: 16px;
      letter-spacing: .5px;
    }
    #mail-sub {
      width: 100%;
      height: 54px;
      padding: 0 15px;
      line-height: 54px;
      color: #fff;
      letter-spacing: .5px;
      border-radius: 50px;
      border: none;
      font-size: 14px;
      background: none;
      box-shadow: none;
      border: 2px solid #fff;
      &:focus {
        box-shadow: 0 5px 75px -15px #000 !important;
      }
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $white;
      letter-spacing: .5px;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $white;
      opacity: 1;
      letter-spacing: .5px;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $white;
      opacity: 1;
      letter-spacing: .5px;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $white;
      letter-spacing: .5px;
    }
  }
}

.social {
  position: absolute;
  bottom: 10px;
  left: 5vw;
  z-index: 8;
  li {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
    box-shadow: none;
    color: $white;
    &:hover {
      box-shadow: 0 5px 50px -5px #ffffff;
      &:nth-child(1) {
        background: #306dc4;
      }
      &:nth-child(2) {
        background: #1edcff;
      }
      &:nth-child(3) {
        background: #3384bc;
      }
      &:nth-child(4) {
        background: #f2143a;
      }
    }
  }
}

.close-ss {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 7;
  display: none;
  &.active {
    display: inline-block;
  }
}

.close-mob {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 30px;
  z-index: 99;
}

// ----------------------------------------------------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------------------------------------------------

@media all and (min-width: 1900px) {
  #team .item img {
    height: 250px;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .right {
    width: 80vw;
    right: -85vw;
  }
  .left {
    width: 90vw;
  }
}
@media all and (max-width: 991px) {
  .right {
    width: 100vw;
    right: -105vw;
  }
  .left {
    width: 100vw;
  }
  .subscribe_section {
    width: 100vw;
    right: -105vw;
  }
}
@media all and (max-width: 767px) {
  .big-title, .left .content h2, .right .title {
    font-size: 36px;
  }
  .text_bordered:before {
    bottom: 5px;
  }
  .btn {
    line-height: 45px;
    height: 45px;
    font-size: 12px;
  }
  body {
    font-size: 12px;
  }
  .social li {
    width: 20px;
    font-size: 14px;
  }
  .services .service:nth-child(1) {
    border: none;
    margin-bottom: 25px;
  }
  #works .item img {
    height: 175px;
  }
  #team .item {
    width: 48%;
    margin-bottom: 25px;
  }
  #team .item img {
    height: 150px;
  }
  .contact .item {
    width: 100%;
  }
  .countdown {
    li {
      font-size: 36px;
      span {
        font-size: 12px;
      }
    }
  }

}